/* #180126--background BLACK 
#FFFFFF--white PRIMARYTEXT 
#CCCCCC--gray Secondary, tertiarytext, navbar icons, borders
#FFC914--yellow primary color, selected navbar icon, button
#004E89--lightblue secondary color, accent color, notification */

.nav-bar {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: #180126;
}

.ul {
  list-style-type: none;
  margin-right: 60px;
  margin-top: 20px;
}

li {
  float: left;
  margin-left: 25px;
  font-size: 16px;
}

.nav-bar img {
  margin-top: 17px;
  margin-left: 60px;
  height: 20px;
}
