.signin-body-container{
    background: #180126;

    color: #FFFFFF;
    height: 100vh; 
    width: 100vw; 
    display: flex;
  justify-content: center;
  align-items: center;
    /* position: relative; */
    font-family: 'Rubik', sans-serif;
}

.signin-container{
    background: #180126;
    font-family: Rubik,;
    display: grid;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
      /* align-items: center; */
}


.photo{
    display: grid; 
    justify-content: center;
}

.photo img{
    height: 60px;
}


.button-div{
    display: grid; 
}

button{
width: 296px;
height: 40px;
background: #004E89;
color: #FFD84D ;
border:none;
font-weight: 700;
font-size: 14px;
border-radius: 50px;
margin-top: 25px;


}

.h1{
    display:grid;
    align-content: center;
    margin-top: 40px;
    font-size: 19px;
    font-weight: 700;

}

.registration-log-in{
margin-top: 100px;
}

.main-nav-bar{
  
}

.body-container{
    display:none;
}

@media screen and (min-width: 600px) {

    .photo-main{
        display:none;
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
      }
    a:hover{
        color: #FFD84D;
    }  


    }



@media screen and (max-width: 600px) {
    .photo-main img{
        height: 40px;
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;
        color: #FFFFFF;
      }
    a:hover{
        color: #FFD84D;
    }  
    } 