.all_set {
    color: #cccccc;
    font-size: 19px;
    font-weight: 500;
    position: relative;
    bottom: 60px;
    text-align: center;
}

button.profile_btn {
    display: block;
    width: 296px;
    height: 40px;
    border-radius: 50px;
    background-color: #ffc914;
    color: #180126;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin: 0 auto;
    position: relative;
    top: 75px;
}