.navbar1 {
    display: flex;
    justify-content: space-between;
    background-color: #180126;
    color: white;
    padding: 15px 0 0 70px;
    max-width: 100%;
}

.navbar1 a {
    text-decoration: none;
    padding: 6px;
    padding-right: 50px;
    color: #cccccc;
    float: right;
    font-size: 16px;
    font-weight: 700;
}

img.mr_mobile_logo{
    display: none;
}

.mr_logo1 {
    max-width: 180px;
    width: 120px;
    height: auto;
    margin-top: 7px;

}

@media all and (max-width:650px) {
    img.mr_logo1  {
        display: none;

    }

    img.mobile_logo {
        display: block;
        width: 25px;
        height: 25px;
    }
}


