.about_container {
  display: flex;
}

.about-left-side {
  width: 44%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #180126;
  width: 56%;
  height: auto;
}

.hands {
  width: 635px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo5 {
  margin: 40px 0;
  width: 120px;
  height: auto;
}

.team {
  margin: 35px 0 10px;
  width: 90%;
  height: auto;
}

.back-to-homepage a {
  display: none;
}

@media (max-width: 500px) {
  .about-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #180126;
    width: 375px;
    height: 812px;
  }

  .about-left-side {
    display: none;
  }

  .back-to-homepage  a {
    display: flex;
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 25px;
  }
}
