.lp_home_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 1440px;
  

}



.home-left-side {
  width: 44%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./pics/bookperson.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.top-left-text {
  color: black;
  font-weight: 700;
  font-size: 19px;
  position: relative;
  top: 6.2rem;
  left: 10rem;
  background: transparent;
}

.home-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #180126;
  width: 56%;
  height: auto;
}

.lp_logo1 {
  max-width: 180px;
  width: 120px;
  height: auto;
  margin-top: -5px;
  background: transparent;
}

.lp_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 700;
  margin: 110px;
}

.lp_content .lp_logo1{
  padding: 10px;
}

.lp_logo2{
  width: 50px;
  height: auto;
  padding-top: 20px;
  background: transparent;
}

.lp_btn{
  width: 296px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffc914;
  color: #180126;
  font-size: 14px;
  font-weight: 700;
  border: none;
  position: relative;
  top: 65px;
}

.lp_registered a {
  color: #ffc914;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: block;
  position: relative;
  top: 100px;
  background: transparent;
}

.tutors a {
  color: #cccccc;
  text-decoration: none;
  font-size: 19px;
  display: block;
  font-weight: 500;
  position: relative;
  top: 150px;
}

.lp_btn:hover {
  color: #ffc914;
  background-color: #180126;
  cursor: pointer;
  border: 3px solid #ffc914;
}

.about-link a {
  display: none;
}

/* mobile devices */
@media all and (max-width: 500px) {
  .lp_btn {
    width: 296px;
    height: 40px;
    top: 10px;
  }

  nav.navbarLP .links {
    display: none;
  }

  .lp_home_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 375px;
  }

  .home-left-side {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url(./pics/bookperson.png);
    background-size: 375px;
    width: 375px;
    height: 625px;
    background-repeat: no-repeat;
    
  }

  .top-left-text {
    color: black;
    font-weight: 700;
    font-size: 19px;
    position: absolute;
    top: 65px;
    left: 40px;
  }

  .home-right-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      background-color: #180126;
      width: 375px;
      height: 261px;
  }

  .lp_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    bottom: 250px;
    background-color: transparent;
  }

  .tutors a {
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    top: 41px;
  }

  .about-link a {
    display: flex;
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 55px;
  }

  .lp_registered a {
    color: #ffc914;
    text-decoration: none;
    font-size: 14px;
    display: block;
    top: 20px;
  }

  p {
    background: transparent;
  }
}
/* tablets */
@media all and (max-width: 800px) and (min-width: 501px) {
  .lp_home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lp_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    bottom: 155px;
    background: transparent;
    margin-top: 0%;
  }

  .home-left-side {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url(./pics/bookperson.png);
    background-size: 768px;
    width: 768px;
    height: 625px;
    background-repeat: no-repeat;
    
  }



  .hold-text {
    background: transparent;
  }

  nav.navbarLP .links {
    display: none;
  }
}

