.navbarLP {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  background: transparent;
}
.navbarLP .links {
  margin-left: auto;
  float: right;
  margin-left: 500px;
  font-size: 14px;
}
.navbarLP a {
  margin-left: 26px;
  text-decoration: none;
  padding: 6px;
  color: #cccccc;
  font-size: 16px;
  font-weight: 700;
}
