* {
  margin: 0;
  padding: 0;
  font-family: "rubik";
}

body {
  position: relative;
  font-size: 10px;
}

.sbjcts-selection {
  position: relative;
  padding-top: 180px;
  font-style: normal;
  font-weight: 500px;
  color: #ccc;
  justify-content: center;
  text-align: center;
}

.sbjcts-selection img {
  width: 50px;
  margin-right: 10px;
}

.subjects p {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.container {
  display: block;
  background-color: #ccc;
  color: #180218;
  justify-content: space-around;
  justify-items: auto;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-left: 200px;
  margin-right: 200px;
}

h4 {
  text-align: center;
}

.syntax1,
.syntax2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ccc;
  height: auto;
}

.radiosyn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.radio-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.radio-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.radio-seo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.radio-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.container h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hyper h5 {
  background-color: #ccc;
  color: #004e89;
  font-weight: 100;
}

.cascading h5 {
  background-color: #ccc;
  color: #004e89;
  font-weight: 100;
}

.container,
.hyper,
.cascading,
h4 {
  background-color: #ccc;
}

.hyper,
.cascading {
  color: #004e89;
  padding: 1.5em;
}

.radiotax {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: .5em;
}

.radio-selectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: .5em;
}

.radio-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: .5em;
}

.radio-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding:.5em;
}

.radio-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: .5em;
}

.btn:hover {
  background-color: darkorchid;
  cursor: pointer;
}

@media all and (max-device-width: 800px) {
  .sbjcts-selection {
    position: relative;
    padding-top: 50px;
    font-style: normal;
    font-weight: 500px;
    color: #ccc;
    justify-content: center;
    text-align: center;
  }

  .sbjcts-selection img {
    width: 50px;
    height: 30%;
    margin-right: 10px;
  }

  .subjects {
    color: #ccc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .subjects p {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    padding-top: 15px;
    font-style: normal;
    font-weight: 500px;
    line-height: 1.5rem;
    color: white;
    justify-content: center;
    text-align: center;
  }

  .container {
    display: block;
    background-color: #ccc;
    justify-content: space-around;
    border-radius: 5px;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;
  }

  h4 {
    text-align: center;
  }

  .hyper {
    color: #004e89;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .cascading {
    color: #004e89;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .syntax1,
  .syntax2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ccc;
    height: 10vh;
}

  .radiosyn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-seo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .container h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hyper h5 {
    background-color: #ccc;
    color: #004e89;
    font-weight: 100;
  }

  .cascading h5 {
    background-color: #ccc;
    color: #004e89;
    font-weight: 100;
  }

  .container,
  .hyper,
  .cascading,
  h4 {
    background-color: #ccc;
  }

  .radiotax {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }

  .radio-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding:.3em;
  }
}
